<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/ver/' + ${factura.cliente.id}}"
						th:text="'&laquo; volver'"></a>
				</h4>

				<form th:action="@{/factura/form/}" th:object="${factura}"
					method="post">

					<div class="form-group row">
						<label for="cliente" class="col-sm-2 col-form-label"
							th:text="'Cliente'"></label>
						<div class="col-sm-6">
							<input name="cliente"
								th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
								class="form-control" disabled='disabled' />
						</div>
					</div>

					<div class="form-group row">
						<label for="descripcion" class="col-sm-2 col-form-label"
							th:text="'Descripción'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="observacion" class="col-sm-2 col-form-label"
							th:text="'Observación'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="'Buscar producto'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>					
				</form>


			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>